.Hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--gris);
    height: 30vh;
    padding: 2rem;
    
}

.Hero h1{
    font-size: 2rem;
    font-weight:bold;
}

.Hero button{
    box-shadow: 10px 5px 5px black;
}
