.Product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--gris);
  padding: 0.5rem;
  border: 1px solid black;
  height: 250px;
  width: calc((100% / 4) - 3vw);
  margin: auto;
  margin-bottom: 1vw;
}

.Product ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  width: 100%;
}

.Product h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--noir);
}
